.catalog {
    padding: 50px 0 44px;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (min-width: $tablet-width) {
        gap: 40px;
    }
}

.catalog__container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (min-width: $tablet-width) {
        gap: 40px;
    }

    @media (min-width: $desktop-width) {
        flex-direction: row;
        gap: 30px;
    }
}

.catalog__heading {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.catalog__title {
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    margin: 0;

    @media (min-width: $tablet-width) {
        font-size: 42px;
        line-height: 64px;
    }
}

.catalog__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (min-width: $tablet-width) {
        gap: 30px;
    }
}

.catalog__list {
    @include clear-list;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (min-width: $tablet-width) {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
    }
}