.filter {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media (min-width: $desktop-width) {
        width: 318px;
    }
}

.filter__wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media (min-width: $tablet-width) {
        flex-direction: row;
    }

    @media (min-width: $desktop-width) {
        flex-direction: column;
    }
}

.filter__name {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 20px;
}

.filter__item {
    display: flex;
    flex-direction: column;

    @media (min-width: $tablet-width) {
        width: 223px;
    }

    @media (min-width: $desktop-width) {
        width: initial;
    }
}

.filter__prices {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &::after {
        content: '';
        position: absolute;
        width: 8px;
        height: 2px;
        background-color: #bdbdbd;
        left: 50%;
        right: 50%;
        transform: translateX(-50%);
    }
}

.filter__options {
    @include clear-list;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.filter__buttons {
    width: initial;
    gap: 20px;

    @media (min-width: $tablet-width) {
        flex-direction: row;
        margin: 0 auto;
    }
}

.filter__submit {
    @media (min-width: $tablet-width) {
        width: 137px;
    }
    
    @media (min-width: $desktop-width) {
        width: 149px;
    }
}

.filter__reset {
    background-color: #fff;
    color: #7859cf;

    @media (min-width: $tablet-width) {
        width: 120px;
    }

    @media (min-width: $desktop-width) {
        width: 149px;
    }
}