.header__container {
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (min-width: $tablet-width) {
        min-height: 80px;
    }
}

.header__buttons {
    @include clear-list;
    display: flex;
    align-items: center;
    
    @media (min-width: $tablet-width) {
        gap: 20px;
    }
}

.header__button {
    padding: 22px;

    @media (min-width: $tablet-width) {
        padding: 32px 20px;
    }

    span {
        display: none;

        @media (min-width: $desktop-width) {
            display: block;
        }
    }

    a {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.02em;
        font-weight: 500;
        text-transform: uppercase;
    }

    button {
        border: none;
        background-color: inherit;
        padding: 0;
        display: block;
    }

    &--login a::before,
    &--basket a::before,
    &--menu button::before {
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        mask-repeat: no-repeat;
        mask-size: 16px 16px;
        background-color: #333;
    }

    &--login a::before {
        mask-image: url('../../assets/icon-login.svg');
    }

    &--basket a::before {
        mask-image: url('../../assets/icon-basket.svg');
    }

    &--menu button::before {
        mask-image: url('../../assets/icon-menu.svg');
    }

    @media (min-width: $tablet-width) {
        &--menu {
            display: none;
        }
    }

    &--menu {
        padding-right: 0;
    }
}